.card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn-grp{
    
}